.button-groups {
  display: flex;

  &__item {

    &:not(:last-child) {
      position: relative;
      margin-right: 42px;

      &::after {
        content: "";
        position: absolute;
        background-color: $color-separator;
        height: 32px;
        width: 2px;
        border-radius: 1px;
        top: 50%;
        right: -22px;
        transform: translateY(-50%);
      }
    }
  }
}
