.cards {
  @media (max-width: $screen-sm) {
    overflow: hidden;
    margin: 0 -16px;
    padding: 0 16px;
    position: relative;
  }

  @media (min-width: $screen-md) {
    overflow: hidden;
    max-height: 160px;
    transition: max-height 0.3s ease-in-out;
  }

  &::after {
    @media (max-width: $screen-sm) {
      content: "";
      background: $slider-linear-gradient;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 32px;
      width: 24px;
      z-index: 5;
    }
  }

  &__container {
    display: flex;

    @media (min-width: $screen-md) {
      flex-wrap: wrap;
      row-gap: 16px;
    }

    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      column-gap: 24px;
    }

    @media (min-width: $screen-xl) {
      column-gap: 32px;
    }
  }

  &__pagination {
    @media (max-width: $screen-sm) {
      display: flex;
      justify-content: center;
      padding-top: 16px;
    }

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &--active {
    @media (min-width: $screen-md) {
      max-height: 1000px;
    }
  }
}
