.card {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;

  @media (max-width: $screen-sm) {
    min-width: 240px;
  }

  @media (min-width: $screen-md) and (max-width: $screen-lg) {
    min-width: 224px;
  }

  @media (min-width: $screen-xl) {
    width: 240px;
  }

  &__title {
    font-weight: 500;
  }

  &__btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }

  &--brand {
    padding: 0 16px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--device {
    height: 160px;
    padding: 16px;
    position: relative;
  }
}
