.footer {
  border-top: 1px solid $color-border--active;

  @media (max-width: $screen-sm) {
    padding: 16px;
    margin-top: 40px;
  }

  @media (min-width: $screen-md) and (max-width: $screen-lg) {
    padding: 24px;
    margin-top: 47px;
  }

  @media (min-width: $screen-xl) {
    padding: 32px 32px 20px;
    margin-top: 50px;
  }

  &__copy {
    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__copy-item {
    color: $text-color--muted;
    opacity: $text-opacity--muted;
    font-size: 1.75rem;
    line-height: 2rem;

    @media (max-width: $screen-sm) {
      text-align: center;
    }

    &:not(:last-child) {
      @media (max-width: $screen-sm) {
        margin-bottom: 16px;
      }
    }

    &--center {
      @media (min-width: $screen-md) {
        text-align: center;
      }

      @media (min-width: $screen-md) and (max-width: $screen-lg) {
        flex-basis: 215px;
      }

      @media (min-width: $screen-xl) {
        flex-basis: 215px;
      }
    }

    &--right {
      @media (min-width: $screen-md) {
        text-align: right;
      }

      @media (min-width: $screen-md) and (max-width: $screen-lg) {
        flex-basis: 213px;
      }

      @media (min-width: $screen-xl) {
        flex-basis: 330px;
      }
    }
  }

  &__link {
    display: block;

    &:hover {
      color: $color-active;
      text-decoration: underline;
    }

    &:focus {
      color: $color-active;
      text-decoration: underline;
    }
  }
}
