.lang-button {
  background: none;

  &:hover,
  &:focus {
    color: $color-active;
    cursor: pointer;
  }

  &:active {
    transform: scale(.93);
  }

  &--active {
    &:disabled {
      color: $text-color--muted;
      cursor: initial;
    }
  }
}
