.link-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $text-color;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;

  &:hover, &:focus {
    text-decoration: underline;
  }

  &__icon {
    margin-left: 9px;
    fill: $color-accent;
  }
}
