.modal {
  position: fixed;
  background-color: #fff;
  top: 0;
  height: 100vh;
  z-index: 102;
  border-left: 1px solid $color-border--active;
  transition: transform 260ms ease-in-out;
  box-shadow: none;

  &:focus {
    outline: 0 solid transparent;
  }

  @media (max-width: $screen-lg) {
    padding: 24px 16px 80px;
    right: -320px;
    width: 320px;
    overflow-y: scroll;
  }

  @media (min-width: $screen-xl) {
    padding: 32px;
    width: 440px;
    right: -512px;
  }

  &__close {
    @media (max-width: $screen-lg) {
      margin-bottom: 32px;
    }

    @media (min-width: $screen-xl) {
      position: absolute;
      top: 32px;
      left: -72px;
    }
  }

  &--active {
    box-shadow: $box-shadow--modal;

    @media (max-width: $screen-lg) {
      transform: translateX(-320px);
    }

    @media (min-width: $screen-xl) {
      transform: translateX(-512px);
    }
  }
}
