.more-button {
  display: inline-block;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  padding: 0 8px;
  cursor: pointer;

  &:hover {
    color: $color-accent;
  }

  &:focus {
    color: $color-accent;
  }

  &--open &__icon {
    transform: scaleY(-1);
  }

  &__icon {
    margin-right: 16px;
    fill: $color-active;
    transition: transform 260ms ease-in-out;
  }
}
