* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "TT Lakes", sans-serif;
  font-size: 8px;
  color: $text-color;
  letter-spacing: -0.2px;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
}

p {
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: 0.2px;
}

a {
  color: $text-color;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  font-family: inherit;
  border: none;
}
