.sidebar {
  min-width: 306px;
  background-color: #FFFFFF;

  &:focus {
    outline: 0 solid transparent;
  }

  @media (max-width: $screen-lg) {
    position: fixed;
    overflow-y: scroll;
    width: 320px;
    z-index: 100;
    top: 0;
    left: -320px;
    transform: translateX(0px);
    transition: transform 260ms ease-in-out;
  }

  &__flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-xl) {
      position: sticky;
      top: 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    height: 88px;
    padding: 0 24px;
    flex-shrink: 0;
  }

  &__logo {
    flex-grow: 1;

    @media (max-width: $screen-lg) {
      padding: 0 16px;
    }
  }

  &__nav {
    flex-grow: 1;

    @media (max-width: $screen-lg) {
      margin-bottom: 16px;
    }
  }

  &__footer {
    flex-shrink: 0;
    padding: 0 24px;
    margin-bottom: 32px;
  }

  &__button-group {
    margin-bottom: 16px;
  }

  &__mail-link {
    display: block;
    margin-bottom: 12px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 8px;
  }

  &__lang-list {
    display: flex;
  }

  &__lang-item {

    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__close {
    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &--active {

    @media (max-width: $screen-lg) {
      transform: translateX(320px);
      box-shadow: $box-shadow--sidebar;
    }
  }
}
