.table {

  @media (max-width: $screen-sm) {
    overflow: hidden;
    margin: 0 -16px 16px;
    padding: 0 16px;
    position: relative;
  }

  @media (min-width: $screen-md) {
    margin-bottom: 24px;
  }

  &::after {
    @media (max-width: $screen-sm) {
      content: "";
      background: $slider-linear-gradient;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 32px;
      width: 24px;
      z-index: 5;
    }
  }

  &__container {
    font-size: 1.75rem;
    line-height: 2.25rem;
    display: flex;

    @media (max-width: $screen-sm) {
      margin: 0 -16px;
      padding: 0 16px;
    }

    @media (min-width: $screen-md) {
      width: auto;
      margin-top: 65px;
      flex-direction: column;
      padding: 0 16px;
      background-color: #fff;
      border-radius: 6px;
    }

    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      padding: 0 24px;
    }
  }

  &__pagination {
    @media (max-width: $screen-sm) {
      display: flex;
      justify-content: center;
      padding-top: 16px;
    }

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__header {

    @media (max-width: $screen-sm) {
      display: none;
    }

    @media (min-width: $screen-md) {
      position: absolute;
      top: -50px;
      left: 0;
      right: 0;
      padding: 16px;
      display: flex;
      color: $text-color--muted;
      opacity: $text-opacity--muted;
    }
  }

  &__row {
    display: flex;

    &:not(:last-child) {

      @media (min-width: $screen-md) {
        border-bottom: 1px solid #EAEAEA;
      }
    }

    @media (max-width: $screen-sm) {
      padding: 16px;
      background-color: #fff;
      border-radius: 6px;
      width: 260px;
      height: 200px;
      align-content: space-between;
      flex-wrap: wrap;
      flex-shrink: 0;
    }

    @media (min-width: $screen-md) {
      height: 64px;
      align-items: center;
    }
  }

  &__cell {

    @media (max-width: $screen-sm) {

    }

    &::before {

      @media (max-width: $screen-sm) {
        line-height: 2rem;
        display: block;
        margin-bottom: 4px;
        color: $text-color--muted;
        opacity: $text-opacity--muted;
      }
    }

    &--price {
      @media (max-width: $screen-sm) {
        flex-basis: 100%;
      }

      @media (min-width: $screen-md) {
        flex: 1 0 15%;
      }

      &::before {

        @media (max-width: $screen-sm) {
          content: 'Цена';
        }
      }
    }

    &--title {

      @media (max-width: $screen-sm) {
        flex-basis: 100%;
      }

      @media (min-width: $screen-md) {
        flex: 1 1 50%;
      }

      &::before {
        @media (max-width: $screen-sm) {
          content: 'Ремонтные услуги';
        }
      }
    }

    &--time {

      @media (min-width: $screen-md) {
        flex: 1 0 15%;
      }

      &:last-child {

        @media (min-width: $screen-md) {
          margin-right: 119px;
        }
      }

      &::before {

        @media (max-width: $screen-sm) {
          content: 'Срок';
        }
      }
    }

    &--btn {

      @media (max-width: $screen-sm) {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      @media (min-width: $screen-md) {
        flex: 0 0 min-content;
      }
    }
  }
}
